@font-face {
  font-family: Shrikand;
  src: url(../fonts/Shrikhand-Regular.ttf);
  font-weight: 400 900;
}

@font-face {
  font-family: Roboto-regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-thin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: Roboto-light;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Roboto-medium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

.title {
  font-family: "Shrikand";
  color: black;
  font-size: 2rem;
}

.title p {
  margin: 0;
}

.title--restau {
  font-size: 1rem;
}

.title--footer {
  color: white;
  font-size: 1.1rem;
}

.btn {
  position: relative;
  font-family: Roboto-regular;
  border-radius: 999px;
  border: 0;
  color: white;
  padding: 1rem;
  margin: 1rem;
  background: -webkit-linear-gradient(95deg, #9356DC 0%, #FF79DA 100%);
  background: -o-linear-gradient(95deg, #9356DC 0%, #FF79DA 100%);
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 100%);
  -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 50;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
}

.btn--shop {
  padding: 1rem 3rem;
}

.btn:hover {
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
}

.btn:hover::after {
  opacity: 1;
}

.btn::after {
  content: "";
  position: absolute;
  background: -webkit-linear-gradient(95deg, #a16be0 0%, #ff93e1 100%);
  background: -o-linear-gradient(95deg, #a16be0 0%, #ff93e1 100%);
  background: linear-gradient(355deg, #a16be0 0%, #ff93e1 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border: none;
  border-radius: 1rem;
  max-width: 30rem;
  -webkit-box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
  background-color: white;
  /*Fonctionnement cards*/
  /*Restaurants cards*/
  /*Menu cards*/
}

.card a::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.card__img {
  height: 70%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.card__img--new::after {
  content: "Nouveau";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  border-radius: .1rem;
  width: 5rem;
  height: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: #278870;
  font-family: Roboto-medium;
  font-size: .9rem;
  -webkit-box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.card__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.card__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  width: 90%;
}

.card__body__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 80%;
  width: 85%;
}

.card__body__items h3 {
  font-family: Roboto-medium;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem;
  height: 45%;
}

.card__body__items p {
  font-family: Roboto-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem;
  height: 45%;
}

.card__body__items--restau {
  display: block;
  height: 100%;
  overflow: hidden;
}

.card__body__items--restau p, .card__body__items--restau h3 {
  display: block;
  height: 50%;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  line-height: 1.5rem;
}

.card__like {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

.card__like__i {
  position: absolute;
  color: black;
}

.card__like__i--fill {
  font-size: 1.6rem;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: -webkit-linear-gradient(bottom, #FF79DA 0%, #9356DC 100%);
  background: -o-linear-gradient(bottom, #FF79DA 0%, #9356DC 100%);
  background: linear-gradient(0deg, #FF79DA 0%, #9356DC 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card__like__fillcontainer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.6rem;
  height: 1.6rem;
}

.card__like__fillcontainer:hover > i {
  -webkit-animation: fillheart .3s forwards;
          animation: fillheart .3s forwards;
}

.card__like__fillcontainer:active > i {
  -webkit-animation: fillheart .3s forwards;
          animation: fillheart .3s forwards;
}

@-webkit-keyframes fillheart {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fillheart {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  90% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.card__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 90%;
}

.card__side--price {
  font-family: Roboto-medium;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

.card__side p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50%;
  margin: 0px;
}

.card__fonct {
  background-color: #F6F6F6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  min-height: 4.5rem;
  margin: .75rem 1rem .75rem 2rem;
}

.card__fonct p {
  font-weight: 700;
}

.card__fonct i {
  color: #7E7E7E;
  font-size: 1.1rem;
  margin-left: .5rem;
  margin-right: 1rem;
}

.card__fonct__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  left: -.75rem;
  background-color: #9356DC;
  color: white;
  border: none;
  border-radius: 999px;
  min-width: 1.5rem;
  min-height: 1.5rem;
  z-index: 10;
}

.card__fonct--selected {
  background-color: #f2eafb;
}

.card__fonct--selected i {
  color: #9356DC;
}

.card__restau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5rem 0rem;
  width: 90%;
  height: 15rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .card__restau {
    max-width: 22rem;
  }
}

@media (min-width: 992px) {
  .card__restau {
    max-width: 30rem;
  }
}

.card__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4em;
  margin: .5rem 0rem;
  overflow: hidden;
}

.card__menu:nth-child(0n + 1) {
  -webkit-animation: appear 0.5s 0s backwards;
          animation: appear 0.5s 0s backwards;
}

.card__menu:nth-child(0n + 2) {
  -webkit-animation: appear 0.5s 0.125s backwards;
          animation: appear 0.5s 0.125s backwards;
}

.card__menu:nth-child(0n + 3) {
  -webkit-animation: appear 0.5s 0.25s backwards;
          animation: appear 0.5s 0.25s backwards;
}

.card__menu:nth-child(0n + 4) {
  -webkit-animation: appear 0.5s 0.375s backwards;
          animation: appear 0.5s 0.375s backwards;
}

.card__menu:nth-child(0n + 5) {
  -webkit-animation: appear 0.5s 0.5s backwards;
          animation: appear 0.5s 0.5s backwards;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.card__menu:hover > .card__menu__extra {
  margin-right: 0;
}

.card__menu:hover > .card__menu__extra > i {
  -webkit-animation: valid .5s;
          animation: valid .5s;
}

.card__menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 100%;
  min-width: 20%;
  padding: 0 .75rem;
}

.card__menu__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  color: white;
  font-size: 1.2rem;
  height: 100%;
  width: 5rem;
  margin-right: -5rem;
  -webkit-transition: margin-right .5s;
  -o-transition: margin-right .5s;
  transition: margin-right .5s;
}

@-webkit-keyframes valid {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes valid {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

.splash {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  overflow: hidden;
  z-index: 150;
  -webkit-animation: reduction .5s 1.75s forwards;
          animation: reduction .5s 1.75s forwards;
}

.splash__subcircle {
  position: absolute;
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 999px;
  background-color: #99E2D0;
  -webkit-transform-origin: 48% 50%;
      -ms-transform-origin: 48% 50%;
          transform-origin: 48% 50%;
  -webkit-animation: rotation-1 2s .3s;
          animation: rotation-1 2s .3s;
}

.splash__subcircle-2 {
  position: absolute;
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 999px;
  background-color: #FF79DA;
  -webkit-transform-origin: 52% 50%;
      -ms-transform-origin: 52% 50%;
          transform-origin: 52% 50%;
  -webkit-animation: rotation-1 2s .2s;
          animation: rotation-1 2s .2s;
}

.splash__subcircle-3 {
  position: absolute;
  width: 18.5rem;
  height: 18.5rem;
  border-radius: 999px;
  background-color: #9356DC;
  -webkit-transform-origin: 50% 52%;
      -ms-transform-origin: 50% 52%;
          transform-origin: 50% 52%;
  -webkit-animation: rotation-2 2s .1s;
          animation: rotation-2 2s .1s;
}

.splash__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Shrikand;
  font-size: 2rem;
  width: 19rem;
  height: 19rem;
  border: 0;
  border-radius: 999px;
  background-color: white;
  z-index: 151;
}

@-webkit-keyframes rotation-1 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(1turn);
            transform: rotateZ(1turn);
  }
}

@keyframes rotation-1 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(1turn);
            transform: rotateZ(1turn);
  }
}

@-webkit-keyframes rotation-2 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-1turn);
            transform: rotateZ(-1turn);
  }
}

@keyframes rotation-2 {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-1turn);
            transform: rotateZ(-1turn);
  }
}

@-webkit-keyframes reduction {
  0% {
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes reduction {
  0% {
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

.html {
  font-family: "Roboto-light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 65px;
}

.html__index {
  -webkit-animation: overflow 2.3s forwards;
          animation: overflow 2.3s forwards;
}

@-webkit-keyframes overflow {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

@keyframes overflow {
  0% {
    overflow: hidden;
  }
  99% {
    overflow: hidden;
  }
  100% {
    overflow: auto;
  }
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 65px;
  -webkit-box-shadow: 0 0 0.5rem rgba(53, 53, 53, 0.2);
          box-shadow: 0 0 0.5rem rgba(53, 53, 53, 0.2);
}

.header {
  font-family: "Shrikand";
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  background-color: white;
  -webkit-box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header__return {
  position: absolute;
  left: .5rem;
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 1200px;
}

.header a {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
  background-color: #353535;
}

.footer a {
  text-decoration: none;
  color: white;
}

.footer i {
  font-size: .8rem;
  width: 1.25rem;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  padding: 1rem 0;
}

@media (min-width: 576px) {
  .footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
}

.footer__element {
  font-family: Roboto-light;
  padding: 0.25rem 0;
}

.footer__element--strong {
  font-family: Roboto-regular;
  font-weight: 400;
}

.loc {
  font-family: Roboto-regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #EAEAEA;
}

.loc i {
  padding-right: 1rem;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  padding: 2rem 0;
  text-align: center;
}

.description h1 {
  font-family: Roboto-medium;
  font-size: 1.5rem;
  padding: 0 3rem;
  margin: 0;
}

.description p {
  padding: 0 1rem;
}

.fonctionnement {
  font-family: Roboto-regular;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem 0;
}

.fonctionnement h2 {
  font-family: Roboto-medium;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 1rem;
}

.fonctionnement i {
  width: 7%;
}

.fonctionnement__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .fonctionnement__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem 0;
  background-color: #F6F6F6;
}

.restaurants__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (min-width: 768px) {
  .restaurants__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
  }
}

.restaurants h2 {
  font-family: Roboto-medium;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 1rem;
}

.img-restau {
  position: fixed;
  height: calc(15em + 65px);
  width: 100%;
  max-width: 1200px;
  z-index: 1;
}

.img-restau img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.img-restau + div {
  margin-top: calc(15em);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  z-index: 2;
}

.menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93%;
  padding-bottom: 3rem;
}

.menu__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
}

.menu__title h1 {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .menu__title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem 0 0;
}

.menu__part__title {
  font-family: Roboto-thin;
  width: 95%;
}

.menu__part__title h3 {
  margin: 0;
  padding-bottom: .4rem;
}

.menu__part__title p {
  margin: 0;
}

.menu__part + form {
  margin-top: 1rem;
}

.line {
  width: 15%;
  border-top: 3px solid #99E2D0;
  padding-bottom: .5rem;
}
/*# sourceMappingURL=styles.css.map */