.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $color-txt-secondary;
    background-color: $color-bg-quaternary;
    & a {
        text-decoration: none;
        color: $color-txt-secondary;
    }
    & i {
        font-size: 0.8rem;
        width: 6%;
    }
    &__items {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 1rem 0rem;
    }
    &__element {
        font-family: Roboto-light;
        &--strong {
            font-family: Roboto-regular;
            font-weight: 400;
        }
        padding: 0.25rem 0rem;
    }
}