.card {
    display: flex;
    position: relative;
    border: none;
    border-radius: 1rem;
    max-width: 30rem;
    @include shadows(.1rem);
    background-color: $color-bg-primary;
    & a::after {
        @include link-elements;
    }
    &__img {
        height: 70%;
        width: 100%;
        overflow: hidden;
        position: relative;
        &--new {
            &::after {
                content: "Nouveau";
                position: absolute;
                @include flex;
                background-color: $color-tertiary;
                border-radius: .1rem;
                width: 5rem;
                height: 1.5rem;
                top: 1rem;
                right: 1rem;
                color: darken($color-tertiary, 40);
                font-family: Roboto-medium;
                font-size: .9rem;
                @include shadows(.2, .2rem, .1rem);
            }
        }
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &__body {
        @include flex;
        height: 30%;
        width: 90%;
        &__items {
            @include flex(column, center, flex-start);
            height: 80%;
            width: 85%;
            & h3 {
                font-family: Roboto-medium;
                font-weight: 700;
                @include flex(row, flex-start);
                margin: 0rem;
                height: 45%;
            }
            & p {
                font-family: Roboto-light;
                @include flex(row, flex-start);
                margin: 0rem;
                height: 45%;
            }
            &--restau {
                display: block;
                height: 100%;
                & p, h3 {
                    display: block;
                    height: 50%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.5rem;
                }
            }
        }
    }
    &__like {
        position: relative;
        font-size: 1.5rem;
        cursor: pointer;
        z-index: 2;
        &__i {
            position: absolute;
            color: $color-txt-primary;
            &--fill {
                font-size: 1.6rem;
                transform: scale(0);
                background: linear-gradient(0deg, $color-secondary 0%, $color-primary 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        &__fillcontainer {
            position: absolute;
            @include flex;
            width: 1.6rem;
            height: 1.6rem;
            &:hover > i {
                animation: fillheart .3s forwards;
            }
            &:active > i {
                animation: fillheart .3s forwards;
            }
        }
        @keyframes fillheart {
            0% {
                transform: scale(0);
                opacity: 0;
            }
            90% {
                transform: scale(1.05);
                opacity: 1;
            }
            100%{
                transform: scale(1);
            }
        }
    }
    &__side {
        @include flex;
        width: 15%;
        height: 90%;
        &--price {
            font-family: Roboto-medium;
            align-items: flex-end;
            height: 100%;
        }
        & p {
            display: flex;
            align-items: center;
            height: 50%;
            margin: 0px;
        }
    }

    /*Fonctionnement cards*/
    &__fonct {
        background-color: $color-bg-secondary;
        align-items: center;
        width: 85%;
        min-height: 4.5rem;
        margin: .75rem 1rem .75rem 2rem;
        & p {
            font-weight: 700;
        }
        & i {
            color: #7E7E7E;
            font-size: 1.1rem;
            margin-left: .5rem;
            margin-right: 1rem;
        }
        &__num {
            @include flex;
            position: relative;
            left: -.75rem;
            background-color: $color-primary;
            color: $color-txt-secondary;
            border: none;
            border-radius: 999px;
            min-width: 1.5rem;
            min-height: 1.5rem;
            z-index: 10;
        }
        &--selected {
            background-color: lighten($color-primary, 35);
        }
        &--selected i {
            color: $color-primary;
        }
    }

    /*Restaurants cards*/
    &__restau {
        @include flex(column, flex-start);
        margin: 0.5rem 0rem;
        width: 90%;
        height: 15rem;
        overflow: hidden;
        @media (min-width: 768px) {
            max-width: 22rem;
        }
        @media (min-width: 992px) {
            max-width: 30rem;
        }
    }

    /*Menu cards*/
    &__menu {
        @include flex;
        width: 100%;
        height: 4em;
        margin: .5rem 0rem;
        overflow: hidden;
        @include animcards;
        &:hover > .card__menu__extra {
            margin-right: 0;
            & > i {
                animation: valid .5s ;
            }
        }
        &__body {
            @include flex(row, space-between);
            height: 80%;
            width: 100%;
            min-width: 20%;
            padding: 0 .75rem;
        }
        &__extra {
            @include flex;
            background-color: $color-tertiary;
            color: $color-txt-secondary;
            font-size: 1.2rem;
            height: 100%;
            width: 5rem;
            margin-right: -5rem;
            transition: margin-right .5s;
        }
        @keyframes valid {
            0% {
                transform: rotateZ(0deg);
            }
            100% {
                transform: rotateZ(360deg);
            }
        }
    }
}