.splash {
    position: absolute;
    @include flex;
    width: 100%;
    height: 100%;
    background-color: $color-bg-primary;
    overflow: hidden;
    z-index: 150;
    animation: reduction .5s 1.75s forwards;
    &__subcircle {
        position: absolute;
        width: 18.5rem;
        height: 18.5rem;
        border-radius: 999px;
        background-color: $color-tertiary;
        transform-origin: 48% 50%;
        animation: rotation-1 2s .3s;
    }
    &__subcircle-2 {
        position: absolute;
        width: 18.5rem;
        height: 18.5rem;
        border-radius: 999px;
        background-color: $color-secondary;
        transform-origin: 52% 50%;
        animation: rotation-1 2s .2s;
    }
    &__subcircle-3 {
        position: absolute;
        width: 18.5rem;
        height: 18.5rem;
        border-radius: 999px;
        background-color: $color-primary;
        transform-origin: 50% 52%;
        animation: rotation-2 2s .1s;
    }
    &__title {
        @include flex;
        font-family: Shrikand;
        font-size: 2rem;
        width: 19rem;
        height: 19rem;
        border: 0;
        border-radius: 999px;
        background-color: $color-bg-primary;
        z-index: 151;
    }
}

@keyframes rotation-1 {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(1turn);
    }
}

@keyframes rotation-2 {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(-1turn);
    }
}

@keyframes reduction {
    0% {
    }
    100% {
        transform: translateX(-100vw);
    }
}