.title {
    font-family: "Shrikand";
    @include title-color($color-txt-primary);
    &--restau {
        font-size: 1rem;
    }
    &--footer {
        @include title-color($color-txt-secondary);
        font-size: 0.9rem;
    }
}