.title {
    font-family: "Shrikand";
    color: $color-txt-primary;
    font-size: 2rem;
    & p {
        margin: 0;
    }
    &--restau {
        font-size: 1rem;
    }
    &--footer {
        color: $color-txt-secondary;
        font-size: 1.1rem;
    }
}