@font-face {
    font-family: Shrikand;
    src: url(../../fonts/Shrikhand-Regular.ttf);
    font-weight: 400 900;
}

@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto-Regular.ttf);
}