.loc {
    font-family: Roboto-regular;
    @include flex;
    width: 100%;
    background-color: $color-bg-tertiary;
    & i {
        padding-right: 1rem;
    }
}

.description {
    @include flex(column);
    background-color: $color-bg-secondary;
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    & h1 {
        font-family: Roboto-medium;
        font-size: 1.5rem;
        padding: 0 3rem;
        margin: 0;
    }
    & p {
        padding: 0 1rem;
    }
}

.fonctionnement {
    font-family: Roboto-regular;
    @include flex(column, space-between);
    width: 100%;
    padding: 2rem 0;
    & h2 {
        @include section-title;
    }
    & i {
        width: 7%;
    }
    &__items {
        @include flex(column, flex-start);
        width: 100%;
        @media (min-width: 768px) {
            flex-direction: row;
        }
    }
}

.restaurants {
    @include flex(column, flex-start);
    width: 100%;
    padding: 2rem 0;
    background-color: $color-bg-secondary;
    &__items {
        @include flex(column, flex-start);
        width: 100%;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 1rem;
        }
    }
    & h2 {
        @include section-title;
    }
}