.img-restau {
    position: fixed;
    height: calc(15em + 65px);
    width: 100%;
    max-width: 1200px;
    z-index: 1;
    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    & + div {
        margin-top: calc(15em);
    }
}

.menu {
    @include flex(column, flex-start);
    background-color: $color-bg-secondary;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    z-index: 2;
    &__content {
        @include flex(column, flex-start);
        width: 93%;
        padding-bottom: 3rem;
    }
    &__title {
        @include flex(row, space-between);
        width: 95%;
        & h1 {
            font-size: 1.5rem;
        }
        @media (min-width: 576px) {
            justify-content: center;
        }
    }
    &__part {
        @include flex (column, flex-start);
        width: 100%;
        padding: 2rem 0 0;
        &__title {
            font-family: Roboto-thin;
            width: 95%;
            & h3 {
                margin: 0;
                padding-bottom: .4rem;
            }
            & p {
                margin: 0;
            }
        }
        & + form {
            margin-top: 1rem;
        }
    }
}

.line {
    width: 15%;
    border-top: 3px solid $color-tertiary;
    padding-bottom: .5rem;
}