@mixin title-color($color: $color-txt-primary) {
    color: $color;
}

@mixin section-title {
    font-family: Roboto-medium;
    align-self: flex-start;
    padding-left: 1rem;
}

@mixin link-elements {
    content: "";
    display: flex;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@mixin like {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 2;
    &--between {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        z-index: 1;
        
    }
    &__i {
        position: absolute;
        color: $color-txt-primary;
        &--over {
            font-size: 1.35rem;
            color: $color-txt-secondary;
            &:hover + i {
                animation: fillheart .5s forwards;
            }
        }
        &--fill {
            font-size: 1.6rem;
            transform: scale(0);
            background: linear-gradient(0deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    @keyframes fillheart {
        0% {
            transform: scale(0);
        }
        90% {
            transform: scale(1.05);
        }
        100%{
            transform: scale(1);
        }
    }
}