$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-txt-primary: black;
$color-txt-secondary: white;
$color-bg-primary: white;
$color-bg-secondary: #F6F6F6;
$color-bg-tertiary: #EAEAEA;
$color-bg-quaternary: #353535;